h2.heading--2 image gallery
.image-gallery__grid
   .image-gallery__shelf
   .grid-row.u-justify-items-evenly.w-90.mx-auto
      .col-3.col-md-3.col-xl-2
         img.image-gallery__photo(src="assets/img/gallery-car-1.jpg", alt="Car photo")
      .col-3.col-md-3.col-xl-2
         img.image-gallery__photo(src="assets/img/gallery-car-2.jpg", alt="Car photo")
      .col-3.col-md-3.col-xl-2
         img.image-gallery__photo(src="assets/img/gallery-car-3.jpg", alt="Car photo")
.image-gallery__grid
   .image-gallery__shelf
   .grid-row.u-justify-items-evenly.w-90.mx-auto
      .col-3.col-md-3.col-xl-2
         img.image-gallery__photo(src="assets/img/gallery-car-4.jpg", alt="Car photo")
      .col-3.col-md-3.col-xl-2
         img.image-gallery__photo(src="assets/img/gallery-car-5.jpg", alt="Car photo")
      .col-3.col-md-3.col-xl-2
         img.image-gallery__photo(src="assets/img/gallery-car-6.jpg", alt="Car photo")