h2.heading--2 popular
.popular__grid 
   .grid-row-gap-sm.u-justify-items-evenly
      .col-12.col-md-6.col-lg-4
         +popularCar('car name', 'car-1.jpg', '20,000')
      .col-12.col-md-6.col-lg-4
         +popularCar('car name', 'car-2.jpg', '100,000')
      .col-12.col-md-6.col-lg-4
         +popularCar('car name', 'car-3.jpg', '150,000')