h2.heading--2 video gallery
.video-gallery__grid 
   .grid-row-gap-sm
      .col-12.col-md-6.col-lg-4
         video.video-gallery__video(muted loop)
            source(src="assets/img/Car-Video-1-1.mp4" type="video/mp4") 
      .col-12.col-md-6.col-lg-4 
         video.video-gallery__video(muted loop)
            source(src="assets/img/Car-Video-2-1.mp4" type="video/mp4") 
      .col-12.col-md-6.col-lg-4 
         video.video-gallery__video(muted loop)
            source(src="assets/img/Car-Video-3-1.mp4" type="video/mp4") 
      .col-12.col-md-6.col-lg-4 
         video.video-gallery__video(muted loop)
            source(src="assets/img/Car-Video-4-1.mp4" type="video/mp4") 
      .col-12.col-md-6.col-lg-4 
         video.video-gallery__video(muted loop)
            source(src="assets/img/Car-Video-5-1.mp4" type="video/mp4") 
      .col-12.col-md-6.col-lg-4 
         video.video-gallery__video(muted loop)
            source(src="assets/img/Car-Video-6-1.mp4" type="video/mp4") 